@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #373c3f;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 10px 15px 8px 18px;
}
.header__navbar {
  padding: 8px 13px 8px 13px;
}

.logo {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.logo__text {
  color: #ffffff;
}

.navbar {
  text-align: center;
  background-color: #2b2f31;
}

.fa-bars {
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
