@import url("css/fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #373c3f;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 10px 15px 8px 18px;
}
.header__navbar {
  padding: 8px 13px 8px 13px;
}

.logo {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.logo__text {
  color: #ffffff;
}

.navbar {
  background-color: #2b2f31;
}
.navbar__list {
  display: none;
}
.navbar__logo {
  display: none;
}

.main {
  font-family: "Lato", sans-serif;
}
.main__list {
  display: grid;
  grid-template-areas: "f f f f" "s s s s" "t t t t" "ft ft ft ft";
  color: #ffffff;
}
.main__item {
  font-size: 1.25rem;
  margin-bottom: 4px;
}
.main__item:last-child {
  margin-bottom: 0;
}
.main__item1 {
  grid-area: f;
  text-align: left;
  line-height: 1.6;
  padding: 10px 18px 85px;
  background: url("img/main1.png") no-repeat;
  background-size: cover;
}
.main__item1-title {
  font-size: 0.9375rem;
}
.main__item1-address {
  color: #9bc4c6;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: bolder;
}
.main__item2 {
  grid-area: s;
  display: flex;
}
.main__item2-title {
  width: 78%;
  padding: 26px 0;
  text-indent: 64px;
  background: url("img/main2.png") no-repeat center bottom;
  background-size: cover;
}
.main__item-button {
  width: 22%;
  position: relative;
  background-color: #acd8ad;
}
.main__item3 {
  grid-area: t;
  display: flex;
}
.main__item3-title {
  width: 78%;
  padding: 26px 0;
  text-indent: 75px;
  background: url("img/main3.png") no-repeat center bottom;
  background-size: cover;
}
.main__item4 {
  grid-area: ft;
  display: flex;
}
.main__item4-title {
  width: 78%;
  padding: 26px 0;
  text-indent: 84px;
  background: url("img/main4.png") no-repeat center top;
  background-size: cover;
}
.main__item-button::after {
  content: ">";
  color: #ffffff;
  display: inline-block;
  position: absolute;
  right: 45%;
  top: 35%;
}

.menu-title__title-container {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  padding: 18px 0 6px 8px;
}
.menu-title__title {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #3f4043;
}
.menu-title__subtitle {
  font-size: 0.625rem;
  color: #b6b6b6;
}
.menu-title__image {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  text-indent: 20px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
}

.menu-item__title {
  text-transform: uppercase;
  padding: 6px 0 10px;
  letter-spacing: 0.5px;
}

.menu-item__title--dark {
  background-color: #373c3f;
  color: #acd8ad;
}

.menu-item__title--light {
  background-color: #acd8ad;
  color: #ffffff;
}

.menu-item__type {
  padding-top: 7px;
}

.menu-item-type__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item-type__title-text {
  text-transform: uppercase;
  text-indent: 19px;
  font-size: 15px;
}
.menu-item-type__title-img {
  margin-right: 15px;
  background: url("./img/spritesheet.png") no-repeat;
}
.menu-item-type__title-img1 {
  width: 25px;
  height: 25px;
  background-position: -60px -10px;
}
.menu-item-type__title-img2 {
  margin-right: 20px;
  width: 13px;
  height: 24px;
  background-position: -146px -10px;
}
.menu-item-type__title-text2 {
  padding-top: 6px;
}
.menu-item-type__title-text3 {
  padding-top: 10px;
}
.menu-item-type__title-text4 {
  padding-top: 6px;
}
.menu-item-type__title-img3 {
  margin-right: 18px;
  width: 30px;
  height: 21px;
  background-position: -10px -10px;
}
.menu-item-type__title-img4 {
  margin-right: 18px;
  width: 21px;
  height: 20px;
  background-position: -105px -10px;
}

.menu-list__item {
  padding-top: 5px;
}
.menu-list__item:first-child {
  padding-top: 12px;
}

.menu__item {
  padding-bottom: 24px;
}

.menu-list__item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.menu-list__item-title {
  text-indent: 16px;
}

.menu-list__item-price {
  font-weight: bolder;
  margin-right: 15px;
}

.menu-list__item-description {
  padding-top: 5px;
  padding-left: 15px;
  line-height: 1.2;
  text-indent: 0;
  font-size: 10px;
}

.menu-item-type2 {
  padding-top: 5px;
}

.menu-item-type3 {
  padding-top: 6px;
}

.footer {
  font-family: "Montserrat", sans-serif;
  background-color: #acd8ad;
}
.footer__container {
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
}
.footer__text {
  font-size: 12px;
  line-height: 1.5;
}
.footer__image {
  display: none;
}

@media screen and (min-width: 640px) and (max-width: 980px) {
  .header__logo {
    padding: 13px 15px 8px 18px;
  }

  .logo {
    font-size: 15px;
  }

  .navbar {
    font-size: 25px;
  }

  .main__item {
    text-align: center;
    font-size: 25px;
  }
  .main__item1 {
    text-align: left;
    padding: 60px 18px 210px;
  }
  .main__item1-title {
    font-size: 25px;
  }
  .main__item1-address {
    font-size: 18px;
  }
  .main__item2-title {
    width: 80%;
    padding: 44px 0;
    background: url("img/main2.png") no-repeat center 70%;
    background-size: cover;
  }
  .main__item-button {
    width: 20%;
  }
  .main__item3-title {
    width: 80%;
    padding: 44px 0;
    background: url("img/main3.png") no-repeat center 70%;
    background-size: cover;
  }
  .main__item4-title {
    width: 80%;
    padding: 44px 0;
    background: url("img/main4.png") no-repeat center 10%;
    background-size: cover;
  }

  .menu-title__title-container {
    padding: 18px 0 6px 20px;
  }
  .menu-title__title {
    font-size: 30px;
  }
  .menu-title__subtitle {
    font-size: 15px;
  }

  .menu {
    text-indent: 40px;
    padding-bottom: 20px;
  }

  .menu-item__title {
    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
  }

  .menu-item__type {
    padding: 15px 20px 0;
  }

  .menu-item-type__title-text {
    text-transform: uppercase;
    font-size: 20px;
  }

  .menu-list__item {
    padding-top: 10px;
  }
  .menu-list__item:first-child {
    padding-top: 20px;
  }

  .menu-list__item-main {
    font-size: 18px;
  }

  .menu-list__item-description {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 16px;
  }

  .footer__container {
    padding: 25px 0;
  }
  .footer__text {
    font-size: 15px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .header__logo {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 2%;
    font-family: "Montserrat", sans-serif;
    background-color: #373c3f;
  }
  .navbar__list {
    display: flex;
  }
  .navbar__item {
    margin: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .navbar__link {
    color: #ffffff;
  }
  .navbar__link:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
  }
  .navbar__logo {
    display: block;
  }

  .main__list {
    display: grid;
    grid-template-areas: "f f f" "s t ft";
  }
  .main__item {
    padding: 0;
    font-size: 25px;
    text-align: center;
  }
  .main__item1 {
    grid-area: f;
    text-align: left;
    padding: 60px 18px 210px;
    background: url("img/main1.png") no-repeat;
    background-size: cover;
    height: 530px;
  }
  .main__item1-title {
    font-size: 30px;
    padding-left: 30px;
  }
  .main__item1-address {
    padding-left: 30px;
    font-size: 20px;
  }
  .main__item2 {
    height: 327px;
    padding: 0;
    grid-area: s;
  }
  .main__item2-title {
    padding-top: 140px;
    text-indent: 0;
    width: 100%;
    background: url("img/main2.png") no-repeat;
    background-size: cover;
  }
  .main__item-button {
    display: none;
  }
  .main__item3 {
    grid-area: t;
  }
  .main__item3-title {
    padding-top: 140px;
    text-indent: 0;
    width: 100%;
    height: 327px;
    background: url("img/main3.png") no-repeat center bottom;
    background-size: cover;
  }
  .main__item4 {
    grid-area: ft;
  }
  .main__item4-title {
    padding-top: 140px;
    text-indent: 0;
    width: 100%;
    height: 327px;
    background: url("img/main4.png") no-repeat center top;
    background-size: cover;
  }

  .menu-title__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-title__title {
    font-size: 25px;
    text-transform: uppercase;
  }
  .menu-title__subtitle {
    font-size: 15px;
  }
  .menu-title__image {
    margin-right: 20px;
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu-item__title {
    padding: 10px 0;
  }

  .menu {
    text-indent: 40px;
    padding-bottom: 20px;
  }

  .menu-item__title {
    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
  }

  .menu-item__type {
    padding: 15px 20px 0;
  }

  .menu-item-type__title-text {
    font-size: 20px;
  }

  .menu-list__item {
    padding-top: 10px;
  }
  .menu-list__item:first-child {
    padding-top: 20px;
  }

  .menu-list__item-main {
    font-size: 18px;
  }

  .menu-list__item-description {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 16px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
  }
  .footer__text {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
  }
  .footer__image {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 2%;
    font-family: "Montserrat", sans-serif;
    background-color: #373c3f;
  }
  .navbar__list {
    display: flex;
  }
  .navbar__item {
    margin: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .navbar__link {
    color: #ffffff;
  }
  .navbar__link:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
  }
  .navbar__logo {
    display: block;
  }

  .main__list {
    display: grid;
    grid-template-areas: "f f f" "s t ft";
  }
  .main__item {
    padding: 0;
    text-align: center;
    font-size: 40px;
  }
  .main__item1 {
    grid-area: f;
    text-align: left;
    padding: 60px 20px;
    background: url("img/main1.png") no-repeat center;
    background-size: 100% auto;
    height: 649px;
    width: 100%;
  }
  .main__item1-title {
    font-size: 45px;
    padding-left: 30px;
  }
  .main__item1-address {
    padding-left: 30px;
    font-size: 30px;
  }
  .main__item2 {
    height: 327px;
    padding: 0;
    grid-area: s;
  }
  .main__item2-title {
    padding-top: 140px;
    text-indent: 0;
    width: 100%;
    background: url("img/main2.png") no-repeat;
    background-size: cover;
  }
  .main__item-button {
    display: none;
  }
  .main__item3 {
    grid-area: t;
  }
  .main__item3-title {
    padding-top: 140px;
    text-indent: 0;
    width: 100%;
    height: 327px;
    background: url("img/main3.png") no-repeat center bottom;
    background-size: cover;
  }
  .main__item4 {
    grid-area: ft;
  }
  .main__item4-title {
    padding-top: 140px;
    text-indent: 0;
    width: 100%;
    height: 327px;
    background: url("img/main4.png") no-repeat center top;
    background-size: cover;
  }

  .menu-title__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
  }
  .menu-title__title {
    font-size: 25px;
    text-transform: uppercase;
  }
  .menu-title__subtitle {
    font-size: 15px;
  }
  .menu-title__image {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu-item__title {
    padding: 10px 0;
  }

  .menu {
    text-indent: 40px;
    padding-bottom: 20px;
  }

  .menu-item__title {
    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
  }

  .menu-item__type {
    padding: 15px 20px 0;
  }

  .menu-item-type__title-text {
    font-size: 20px;
  }

  .menu-list__item {
    padding-top: 10px;
  }
  .menu-list__item:first-child {
    padding-top: 20px;
  }

  .menu-list__item-main {
    font-size: 18px;
  }

  .menu-list__item-description {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 16px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
  }
  .footer__text {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
  }
  .footer__image {
    display: block;
  }
}
@media screen and (max-width: 980px) {
  /* Menu Toggle */
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }

  #hamburger {
    display: inline-block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .navbar-toggle__line {
    display: inline-block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s;
  }

  .line1 {
    transform-origin: 0;
  }

  .line2 {
    transform-origin: 0 100%;
  }

  #hamburger:checked ~ .navbar-toggle__line {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -3px);
    background: #ffffff;
  }

  #hamburger:checked ~ .line2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #hamburger:checked ~ .line3 {
    transform: rotate(-45deg) translate(0, 0px);
  }

  .navbar__list {
    position: absolute;
    width: 300px;
    background: #ededed;
    transform-origin: 0;
    transform: translate(10px, 52px);
    transition: transform 0.5s;
    font-family: "Montserrat", sans-serif;
  }

  .navbar__item {
    padding: 10px 20px;
    white-space: nowrap;
    border-bottom: 1px solid #c7c7c7;
    cursor: pointer;
  }

  .navbar__item:hover {
    background: #c7c7c7;
  }

  .navbar__link {
    color: #262626;
  }

  .navbar__link:hover {
    border-bottom: none;
  }

  .navbar__list {
    display: none;
  }

  #hamburger:checked ~ .navbar__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 400px) {
  .navbar__list {
    width: 150px;
  }
}
@media screen and (min-width: 980px) {
  #hamburger,
.navbar-toggle__line {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
