@import url("css/fonts.css");

$primary-color: #acd8ad;
$secondary-color: #373c3f;
$text-color-primary: #ffffff;
$text-color-secondary: #3f4043;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Lato', sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;

  &__logo {
    padding: 10px 15px 8px 18px;
  }

  &__navbar {
     padding: 8px 13px 8px 13px;
   }
}

.logo {
  font-size: 12px;
  font-family: $primary-font;

  &__text {
  color: $text-color-primary;
}
}

.navbar {

  background-color: darken($secondary-color, 5%);

  &__list {
    display: none;
  }

  &__logo {
    display: none;
  }

}

//Main

.main{

  font-family: $secondary-font;

  &__list {
    display: grid;
    grid-template-areas:
            "f f f f"
            "s s s s"
            "t t t t"
            "ft ft ft ft";
    color: $text-color-primary;
  }

  &__item {
    font-size: 1.25rem;  // 20px
    margin-bottom: 4px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item1 {
    grid-area: f;
    text-align: left;
    line-height: 1.6;
    padding: 10px  18px 85px;
    background: url("img/main1.png") no-repeat;
    background-size: cover;

    &-title {
      font-size: 0.9375rem; // 15px
    }
    &-address {
      color: #9bc4c6;
      font-size: 0.9375rem;  // 15px
      font-style: normal;
      font-weight: bolder;
    }

  }

  &__item2 {
    grid-area: s;
    display: flex;
  }

  &__item2-title {
    width: 78%;
    padding: 26px 0;
    text-indent: 64px;
    background: url("img/main2.png") no-repeat center bottom;
    background-size: cover;
  }

  &__item-button {
    width: 22%;
    position: relative;
    background-color: $primary-color;
  }


  &__item3 {
    grid-area: t;
    display: flex;
  }

  &__item3-title {
    width: 78%;
    padding: 26px 0;
    text-indent: 75px;
    background: url("img/main3.png") no-repeat center bottom;
    background-size: cover;
  }

  &__item4 {
    grid-area: ft;
    display: flex;
  }

  &__item4-title {
    width: 78%;
    padding: 26px 0;
    text-indent: 84px;
    background: url("img/main4.png") no-repeat center top;
    background-size: cover;
  }

  &__item-button::after {
    content: ">";
    color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 45%;
    top: 35%;
  }

}


// MENU -- Title

.menu-title {

  &__title-container {
    font-family: $primary-font;
    line-height: 1.4;

    padding: 18px 0 6px 8px;
  }

  &__title {
    font-size: 1.125rem;
    text-transform: uppercase;
    color: $text-color-secondary;
  }

  &__subtitle {
    font-size: 0.625rem;
    color: #b6b6b6;
  }

  &__image {
    display: none;
  }

}


// Menu

.menu {
  display: flex;
  flex-direction: column;
  text-indent: 20px;
  font-family: $secondary-font;
  padding-bottom: 20px;
}

.menu-item__title {
  text-transform: uppercase;
  padding: 6px 0 10px;
  letter-spacing: 0.5px;
}

.menu-item__title--dark {
  background-color: $secondary-color;
  color: $primary-color;
}

.menu-item__title--light {
  background-color: $primary-color;
  color: $text-color-primary;
}


.menu-item__type {
  padding-top: 7px;
}

.menu-item-type {
}

.menu-item-type__title{
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-text {
    text-transform: uppercase;
    text-indent: 19px;
    font-size: 15px;
  }

  &-img {
    margin-right: 15px;
    background: url("./img/spritesheet.png") no-repeat;
  }

  &-img1 {
    width: 25px;
    height: 25px;
    background-position: -60px -10px;
  }

  &-img2 {
    margin-right: 20px;
    width: 13px;
    height: 24px;
    background-position: -146px -10px;
  }

  &-text2 {
    padding-top: 6px;
  }

  &-text3 {
    padding-top: 10px;
  }

  &-text4 {
    padding-top: 6px;
  }

  &-img3 {
    margin-right: 18px;
    width: 30px;
    height: 21px;
    background-position: -10px -10px;
  }

  &-img4 {
    margin-right: 18px;
    width: 21px;
    height: 20px;
    background-position: -105px -10px;
  }


}


// Menu list


.menu-list {

  &__item {
    padding-top: 5px;
  }

  &__item:first-child {
    padding-top: 12px;
  }

}

.menu__item {
  padding-bottom: 24px;
}



.menu-list__item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.menu-list__item-title {
  text-indent: 16px;
}

.menu-list__item-price {
  font-weight: bolder;
  margin-right: 15px;
}

.menu-list__item-description {
  padding-top: 5px;
  padding-left: 15px;
  line-height: 1.2;
  text-indent: 0;
  font-size: 10px;
}

.menu-item-type2 {
  padding-top: 5px;
}

.menu-item-type3 {
  padding-top: 6px;
}


// Footer


.footer {
  font-family: $primary-font;
  background-color: $primary-color;

  &__container {
    text-align: center;
    padding: 10px 0;
    color: $text-color-primary;
  }

  &__text {
    font-size: 12px;
    line-height: 1.5;
  }

  &__image {
    display: none;
  }

}



@media screen and (min-width: 640px) and (max-width: 980px){
  .header {

    &__logo {
      padding: 13px 15px 8px 18px;
    }
  }

  .logo {
    font-size: 15px;
  }

  .navbar {
    font-size: 25px;
  }

  .main{

    &__item {
      text-align: center;
      font-size: 25px;
    }


    &__item1 {
      text-align: left;
      padding: 60px  18px 210px;
    ;

      &-title {
        font-size: 25px;
      }
      &-address {
        font-size: 18px;
      }
    }


    &__item2-title {
      width: 80%;
      padding: 44px 0;
      background: url("img/main2.png") no-repeat center 70%;
      background-size: cover;
    }

    &__item-button {
      width: 20%;
    }

    &__item3-title {
      width: 80%;
      padding: 44px 0;
      background: url("img/main3.png") no-repeat center 70%;
      background-size: cover;
    }

    &__item4-title {
      width: 80%;
      padding: 44px 0;
      background: url("img/main4.png") no-repeat center 10%;
      background-size: cover;
    }

  }

  // MENU -- Title

  .menu-title {

    &__title-container {
      padding: 18px 0 6px 20px;
    }

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 15px;
    }

  }


  // Menu

  .menu {
    text-indent: 40px;
    padding-bottom: 20px;
  }

  .menu-item__title {

    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
  }

  .menu-item__type {
    padding: 15px 20px 0;

  }

  .menu-item-type__title{

    &-text {
      text-transform: uppercase;
      font-size: 20px;
    }

  }

  // Menu list
  .menu-list {

    &__item {
      padding-top: 10px;
    }

    &__item:first-child {
      padding-top: 20px;
    }

  }

  .menu-list__item-main {
    font-size: 18px;
  }

  .menu-list__item-description {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 16px;
  }

  // Footer
  .footer {

    &__container {
      padding: 25px 0;
    }

    &__text {
      font-size: 15px;
    }

  }

}




@media screen and (min-width: 980px) and (max-width: 1200px) {
  .header__logo {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 2%;
    font-family: $primary-font;
    background-color: $secondary-color;

    &__list {
      display: flex;
    }

    &__item {
      margin: 0 10px;
      font-size: 15px;
      text-transform: uppercase;
    }

    &__link {
      color: $text-color-primary;
    }
    &__link:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid $text-color-primary;
    }

    &__logo {
      display: block;
    }
  }


  //Main

  .main{

    &__list {
      display: grid;
      grid-template-areas:
              "f f f"
              "s t ft";
    }



    &__item {
      padding: 0;
      font-size: 25px;
      text-align: center;
    }

    &__item1 {
      grid-area: f;
      text-align: left;
      padding: 60px  18px 210px;
      background: url("img/main1.png") no-repeat;
      background-size: cover;
      height: 530px;

      &-title {
        font-size: 30px;
        padding-left: 30px;
      }
      &-address {
        padding-left: 30px;
        font-size: 20px;
      }

    }

    &__item2 {
      height: 327px;
      padding: 0;
      grid-area: s;
    }

    &__item2-title {
      padding-top: 140px;
      text-indent: 0;
      width: 100%;
      background: url("img/main2.png") no-repeat;
      background-size: cover;
    }

    &__item-button {
      display: none;
    }


    &__item3 {
      grid-area: t;
    }

    &__item3-title {
      padding-top: 140px;
      text-indent: 0;
      width: 100%;
      height: 327px;
      background: url("img/main3.png") no-repeat center bottom;
      background-size: cover;
    }

    &__item4 {
      grid-area: ft;
    }

    &__item4-title {
      padding-top: 140px;
      text-indent: 0;
      width: 100%;
      height: 327px;
      background: url("img/main4.png") no-repeat center top;
      background-size: cover;
    }

  }


  // MENU -- Title

  .menu-title {

    &__title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      font-size: 25px;
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: 15px;
    }

    &__image {
      margin-right: 20px;
      display: block;
    }

  }

  // Menu

  .menu {
    display: flex;
    flex-direction: row;
  }

    .menu-item__title {
      padding: 10px 0;
    }

  .menu {
    text-indent: 40px;
    padding-bottom: 20px;
  }

  .menu-item__title {

    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
  }

  .menu-item__type {
    padding: 15px 20px 0;

  }

  .menu-item-type__title{

    &-text {
      font-size: 20px;
    }

  }

  // Menu list
  .menu-list {

    &__item {
      padding-top: 10px;
    }

    &__item:first-child {
      padding-top: 20px;
    }

  }

  .menu-list__item-main {
    font-size: 18px;
  }

  .menu-list__item-description {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 16px;
  }


  // Footer


  .footer {

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      color: $text-color-primary;
    }

    &__text {
      display: inline-block;
      font-size: 18px;
      line-height: 1.5;
    }

    &__image {
      display: block;
    }

  }


}


@media screen and (min-width: 1200px) {

  .header__logo {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 2%;
    font-family: $primary-font;
    background-color: $secondary-color;

    &__list {
      display: flex;
    }

    &__item {
      margin: 0 10px;
      font-size: 15px;
      text-transform: uppercase;
    }

    &__link {
      color: $text-color-primary;
    }
    &__link:hover {
      padding-bottom: 5px;
      border-bottom: 1px solid $text-color-primary;
    }

    &__logo {
      display: block;
    }
  }


  //Main

  .main{

    &__list {
      display: grid;
      grid-template-areas:
              "f f f"
              "s t ft";
    }


    &__item {
      padding: 0;
      text-align: center;
      font-size: 40px;
    }

    &__item1 {
      grid-area: f;
      text-align: left;
      padding: 60px  20px;
      background: url("img/main1.png") no-repeat center;
      background-size: 100% auto;
      height: 649px;
      width: 100%;

      &-title {
        font-size: 45px;
        padding-left: 30px;
      }
      &-address {
        padding-left: 30px;
        font-size: 30px;
      }

    }

    &__item2 {
      height: 327px;
      padding: 0;
      grid-area: s;
    }

    &__item2-title {
      padding-top: 140px;
      text-indent: 0;
      width: 100%;
      background: url("img/main2.png") no-repeat;
      background-size: cover;
    }

    &__item-button {
      display: none;
    }


    &__item3 {
      grid-area: t;
    }

    &__item3-title {
      padding-top: 140px;
      text-indent: 0;
      width: 100%;
      height: 327px;
      background: url("img/main3.png") no-repeat center bottom;
      background-size: cover;
    }

    &__item4 {
      grid-area: ft;
    }

    &__item4-title {
      padding-top: 140px;
      text-indent: 0;
      width: 100%;
      height: 327px;
      background: url("img/main4.png") no-repeat center top;
      background-size: cover;
    }

  }



  // MENU -- Title

  .menu-title {

    &__title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 25px;
    }

    &__title {
      font-size: 25px;
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: 15px;
    }

    &__image {
      display: block;
    }

  }

  // Menu

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu-item__title {
    padding: 10px 0;
  }

  .menu {
    text-indent: 40px;
    padding-bottom: 20px;
  }

  .menu-item__title {

    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
  }

  .menu-item__type {
    padding: 15px 20px 0;

  }

  .menu-item-type__title{

    &-text {
      font-size: 20px;
    }

  }

  // Menu list
  .menu-list {

    &__item {
      padding-top: 10px;
    }

    &__item:first-child {
      padding-top: 20px;
    }

  }

  .menu-list__item-main {
    font-size: 18px;
  }

  .menu-list__item-description {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 16px;
  }


  // Footer


  .footer {

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      color: $text-color-primary;
    }

    &__text {
      display: inline-block;
      font-size: 18px;
      line-height: 1.5;
    }

    &__image {
      display: block;
    }

  }

}





// MENU TOGGLE
@media screen and (max-width: 980px) {
  /* Menu Toggle */

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }

  #hamburger {
    display: inline-block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .navbar-toggle__line {
    display: inline-block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s;
  }

  .line1 {
    transform-origin: 0;
  }

  .line2 {
    transform-origin: 0 100%;
  }

  #hamburger:checked ~ .navbar-toggle__line {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -3px);
    background: #ffffff;;
  }

  #hamburger:checked ~ .line2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #hamburger:checked ~ .line3 {
    transform: rotate(-45deg) translate(0, 0px);

  }

  .navbar__list {
    position: absolute;
    width: 300px;
    background: #ededed;
    transform-origin: 0;
    transform: translate(10px, 52px);
    transition: transform 0.5s;
    font-family: $primary-font;
  }

  .navbar__item {
    padding: 10px 20px;
    white-space: nowrap;
    border-bottom: 1px solid #c7c7c7;
    cursor: pointer;
  }

  .navbar__item:hover {
    background: #c7c7c7;
  }


  .navbar__link {
    color: #262626;
  }

  .navbar__link:hover {
    border-bottom: none;
  }

  .navbar__list {
    display: none;
  }

  #hamburger:checked ~ .navbar__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

}


@media screen and (max-width: 400px) {
  .navbar__list {
    width: 150px;
  }

}

@media screen and (min-width: 980px) {
  #hamburger,
  .navbar-toggle__line {
    display: none;
  }

}
